html
  head
    title= title
  body
  form(action='/user/login', method='POST')
      a name 
      input(type="text")
      a password  
      input(type="password")
      button(type="submit") Submit